*
{ 
    margin: 0;
    padding: 0;
}
.sky
{
    height: 100%;
    width: 100%;
    background-image: url(sky.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;

}

.road{
    height: 200px;
    width: 500%;
    display: block;
    background-image:url(road.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    animation: road 6s linear infinite; 
}

@keyframes road{
    100%{
        transform: translateX(-3400px);
    }}

.city
{
    height: 250px;
    width:500%;
    background-image: url(city1.png);
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background-repeat: repeat-x;
    animation: city 17s linear infinite;
}

@keyframes city{ 
    100%{
        transform: translate(-1400px);
    }
}

.vehicle
{
    width: 400px;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}

.vehicle img{
    width: 100%;
    animation: vehicle 0.3s linear infinite;
}

@keyframes vehicle
{
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(1px);
    }
    0%{
        transform: translateY(-1px);
    }
}
